@font-face {
    font-family: "Ink Free";
    src: url('inkfree.ttf') format("truetype");
}

h1 {
  font-family: "Ink Free", sans-serif;
  font-size: large;
  font-weight: bold; 
  color: #000000;
}

.header-title {
  font-family: 'Roboto', sans-serif; /* Example: Using Roboto font from Google Fonts */
  font-size: 36px;
  font-weight: 500;
  color: blue;
}